<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="header.css">
    <meta charset="UTF-8">
    <title>AllCategories</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5">
    <div th:each="el:${category}" class="alert alert-info mt-2" >
        <h3 th:text="${el.categoryName}"></h3>
        <p th:text="'Earnings :' + ${el.earnings}"></p>
        <p th:text="'Amount :' + ${el.amount}"></p>
    </div>
    <a href="/category" class="btn btn-warning">Back to categories</a>
</div>

</body>
</html>