<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Змінити пароль</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<form th:action="@{/reset-password}" method="post">
    <h2>Reset Password</h2>
    <input type="hidden" name="token" th:value="${token}" required />
    <label>
        <input type="password" name="newPassword" placeholder="New password" required />
    </label>
    <button type="submit">Submit</button>
</form>
</body>
</html>
