<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="header">
        <a href="" class="logo">VendingMachine</a>
        <div class="header-right">
            <a class="active" href="/">Home</a>
            <a href="/category">Categories</a>
            <a href="/category/add">Add category</a>
            <a href="mailto:andriy752@ukr.net">Contact</a>
            <a href="https://docs.google.com/document/d/1BdtG4tXPn0Uk9L8H0f64-pg-bIgd9zxykuSboceo_Ww/edit">About</a>
        </div>
    </div>
</div>